body{
    background: #333;
}

.s-hamburger{
    position: relative;
    background: whitesmoke;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: yellow;
    border: 4px solid rgb(0, 26, 255);
    cursor: pointer;
    top: 200px;
    left: 300px;
}
.h-inner-circle{
    border-radius: 50%;
    background-color: rgb(9, 6, 156);
    width: 20px;
    height: 20px;
    position:absolute;
    left: 15px;
    top: 15px;
    z-index: 1;
}

.h-lineH{
    background: rgb(16, 187, 0);
    width: 50px;
    height: 10px;
    position: absolute;
    top: 20px;
    opacity: 0;
}

.h-lineV{
    background: rgb(16, 187, 0);
    width: 10px;
    height: 50px;
    position: absolute;
    left: 20px;
    opacity: 0;
}

.s-hamburger:hover{
    box-shadow: 0px 0px 20px 7px rgb(238, 255, 0);
    transition: ease-out 1s;

    /*border-radius: 10%;
    transform: rotate(45deg);*/
}

@keyframes lineAppaer{
    from {opacity: 0;}
    to { opacity: 0.5;}
}

@keyframes hamburgerTrans{
    from { border-radius: 50%;}
    to { border-radius: 10%; transform: rotate(45deg);}
}

@keyframes reverseHamburger{
    from { border-radius: 10%; transform: rotate(45deg);}
    to { border-radius: 50%; transform: rotate(-45deg);}
}

@keyframes LineDisappear{
    from {opacity: 0.5;}
    to { opacity: 0;}
}
.s-hamburger-active-reverse{
    animation: reverseHamburger ease 1s forwards;
}
.s-hamburger-active{
    animation: hamburgerTrans ease 1s forwards;
}
.s-line-active{
    animation: lineAppaer 3s ease-out forwards;
}
.s-line-active-reverse{
    animation: LineDisappear 1s ease-in forwards;
}